html { 
    background: url("../images/Paper.png") no-repeat center center fixed;         /*html background image from file*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Georgia;
}
  