html { 
    background: url("../images/Paper.png") no-repeat center center fixed;         /*html background image from file*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana;
}
  
.myheader {                        /*class css myheader to create border*/
    border-radius: 30px;              
    background: lightgrey;
    padding: 20px;
    width: 1200px;
    height: 150px;
    opacity: .5;                  /*transparancy*/
    text-align: right;
}

#myimage {                         /* id css myimage to modify images*/
    border: 5px solid rgb(93, 65, 65); 
    border-radius: 15px;
    width: 300px;
    place-items: center;
}

img {                    
    display: block;
      margin: 0 auto;
      width: 40%;
}

p {                              /*font size and alignment for paragraph*/
    font-size: 20px;
    text-align: justify; 
}

h3 {
    text-align: center;          /*center alignment for h3*/
}

ul {
    display: table;
    margin: 0 auto;
    }

.myfooter {                        /*class css myfooter to create border*/
    border-radius: 30px; 
    background: lightgrey;
    padding: 20px;
    width: 1200px;
    opacity: .4;                    /*transparancy*/
    height: 150px;
}
